@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css");

body {
    background-image: url('imgs/bg.png');
    background-size: 10% 10%;
}

.gacha-block {
    height: 500px;
    width: 70%;
    border: 15px rgb(238, 210, 26) solid;
    margin-left: 15%;
}

.show-reword {
    height: 100px;
    width: 95%;
    margin: 5% 0;
    background-color: rgba(255, 219, 61, 0.863);
}

.hide-reword {
    height: 100px;
    width: 95%;
    margin: 5% 0;
    background-color: transparent;
}